.peopleListItem {
  width: 550px;
  margin-block: 3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-image: linear-gradient(to right, #4ca1af, #c4e0e5); */
  background-color: rgb(255, 193, 250);
}

.peopleListItem h1 {
  font-size: 2rem;
}

@media only screen and (max-width: 950px) {
  .peopleListItem {
    width: 90%;
  }
}
