header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(56, 82, 123, 0.9);
  margin-bottom: 2em;
}

header .logoContainer img {
  height: 60px;
}

header nav ul {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  list-style: none;
}

header nav ul a {
  color: white;
  text-decoration: none;
}

header nav ul a:hover {
  color: rgb(120, 238, 120);
}
