.showcasedFilmContainer {
  position: relative;
  margin-bottom: 2em;
}

.showcasedFilmContainer img {
  width: 100%;
}

.showcasedFilmContextContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #38527b;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.showcasedFilmContextContainer h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  margin: 0;
}

.showcasedFilmContextContainer p {
  font-size: 1.3rem;
  color: white;
  text-align: left;
}

.showcasedFilmContextContainer p a {
  color: #00a651;
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 2000px) {
  .showcasedFilmContextContainer p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1700px) {
  .showcasedFilmContextContainer h1 {
    font-size: 3rem;
  }

  .showcasedFilmContextContainer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1500px) {
  .showcasedFilmContextContainer h1 {
    font-size: 2.8rem;
  }

  .showcasedFilmContextContainer p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1250px) {
  .showcasedFilmContextContainer h1 {
    font-size: 2.5rem;
  }

  .showcasedFilmContextContainer p {
    width: 700px;
    justify-self: flex-end;
  }
}

@media only screen and (max-width: 1050px) {
  .showcasedFilmContextContainer h1 {
    font-size: 2.5rem;
  }

  .showcasedFilmContextContainer p {
    width: 500px;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 850px) {
  .showcasedFilmContainer {
    margin-bottom: 8em;
  }
  .showcasedFilmContextContainer {
    flex-direction: column;
    bottom: -7em;
  }

  .showcasedFilmContextContainer h1 {
    font-size: 2.1rem;
  }

  .showcasedFilmContextContainer p {
    width: 95%;
    margin-left: 0;
    margin-block: 0.5em;
  }
}
