.filmDirectorForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
}

.filmDirectorForm label {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: start;
}

.filmDirectorForm select {
  color: black;
  margin-block: 1em;
  width: 250px;
  padding: 0.1em;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1910px) {
  .filmDirectorForm {
    top: 100px;
    left: 50%;
    transform: translate(-50%);
  }

  .filmDirectorForm select {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .filmDirectorForm select {
    width: 250px;
  }
}
